---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to write-tight!">
  <main>
    <div
      id="text-container"
      class="max-w-3xl mx-auto mt-48 text-gray-500 text-lg"
    >
      <textarea
        id="text-area"
        rows="10"
        cols="60"
        placeholder="Please enter your text here.."
        class="p-6 border border-gray-300 outline-none resize-none overflow-auto"
      ></textarea>
      <div id="output-container" class="flex space-x-2"></div>
    </div>
  </main>
</Layout>

<script src="../scripts/script.js"></script>
