---
import Layout from "../layouts/Layout.astro";
import Pos from "../components/Pos.astro";
---

<Layout title="Welcome to write-tight">
  <main>
    <div
      id="container"
      class="container mx-auto px-24 mt-8 text-gray-500 text-lg"
    >
      <div class="flex flex-col">
        <div class="flex flex-col space-y-2 py-6 max-w-3xl">
          <h1 class="text-4xl text-gray-500 font-medium">
            Welcome to write-tight!
          </h1>
          <p>
            The goal of write-tight is to improve your (business) writing so you
            can say exactly what you want with precision and power. Write-tight
            analyzes patterns in your text which are based on writing rules from
            books and courses on professional (business) writing. These rules
            are expressed with spaCy rule-based matching.
          </p>
          <p>
            To deepen the understanding of your own writing patterns the Part of
            Speech tags are also shown.
          </p>
        </div>
        <div class="flex justify-between space-x-24">
          <div>
            <h2 class="text-lg text-orange-500 font-medium mb-4">
              Part of Speech explanations (<a
                class="text-blue-500 underline px-1"
                href="https://universaldependencies.org/u/pos/"
                target="_blank">source</a
              >)
            </h2>
            <Pos />
          </div>
          <div>
            <textarea
              id="text-area"
              rows="5"
              cols="60"
              placeholder="Please enter your text here.."
              class="p-6 border border-gray-300 outline-none resize-none overflow-auto"
            ></textarea>
            <div id="output-container" class="flex flex-col space-y-2"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<script src="../scripts/script.js"></script>
