---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import Pos from "../components/Pos.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to write-tight">
  <main>
    <div class="flex flex-col max-w-5xl mx-auto">
      <div class="flex flex-row space-x-2">
        <Welcome />
        <div></div>
      </div>
      <div class="flex flex-row space-x-2 items-end">
        <div class="flex flex-col mb-auto">
          <textarea
            id="text-area"
            rows="5"
            cols="55"
            placeholder="Please enter your text here.."
            class="text-lg text-gray-500 p-6 border-2 border-orange-300 outline-none resize-none overflow-auto"
          ></textarea>
          <div
            id="output-container"
            class="flex flex-col space-y-2 text-lg text-gray-600"
          >
          </div>
        </div>
        <div class="flex flex-col">
          <div class="my-16">
            <h2 class="text-lg text-orange-500 font-medium">
              Part of Speech explanations
            </h2>
          </div>
          <div>
            <Pos />
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </main>

  <script src="../scripts/script.js"></script>
</Layout>
