---
import { Icon } from "astro-icon";
---

<footer class="mt-auto mx-96 mb-2">
  <div class="flex items-center justify-between">
    <p class="p-base text-gray-600">Copyright &copy 2023.</p>
    <div>
      <a href="https://github.com/EBolle/write-tight-frontend" target="_blank">
        <Icon name="github" class="w-12 text-orange-500" />
      </a>
    </div>
  </div>
</footer>
