---
const { title, titleDutch, definition, examples } = Astro.props;
---

<div class="flex flex-col pr-2">
  <h2 class="text-base text-orange-500">{title} (🇳🇱 {titleDutch})</h2>
  <p class="text-base text-gray-500">{definition}</p>
  <p class="italic text-base text-gray-500">{examples}</p>
</div>
